.btn-delete {
    color: #616161;
    font-size: 20px;
    padding: 3px 10px;
    border-radius: 50%;
    border: 0;
    background: none;
}

.kt-header__topbar-icon {
    position: relative;
}

span.kt-badge {
    position: absolute;
    right: 0;
    width: 15px;
    height: 15px;
    top: 18px;
}